.container {
  margin: auto;
  max-width: 800px;
  font-family: "Courier New", Courier, monospace;
  background-color: honeydew;
}

.heading {
  color: cornflowerblue;
}

.nav-bar {
  display: flex;
  list-style: none;
  padding-left: 0;
}
/* 
.nav-title {
  font-size: 2rem;
  color: cornflowerblue;
  font-weight: 1000;
  margin: 3rem 0;
} */

.nav-link {
  padding-right: 2rem;
}

.nav-link-text {
  color: black;
}

iframe {
  
    width: 800px;
    height: 600px
}